<section class="section section-benefits" id="benefits">
  <div class="container section-benefits-container">
    <h2 class="section-name">BENEFITS OF WORKING WITH ME</h2>
    <div class="benefits-cards">
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-img" width="48" height="48">
            <use href="./img/sprite.svg#icon-services-1"></use>
          </svg>
          <h3 class="benefits-name">Expertise</h3>
          <p class="benefits-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-img" width="48" height="48">
            <use href="./img/sprite.svg#icon-services-2"></use>
          </svg>

          <h3 class="benefits-name">Communication</h3>
          <p class="benefits-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-img" width="48" height="48">
            <use href="./img/sprite.svg#icon-services-3"></use>
          </svg>

          <h3 class="benefits-name">Art</h3>
          <p class="benefits-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-img" width="48" height="48">
            <use href="./img/sprite.svg#icon-services-4"></use>
          </svg>

          <h3 class="benefits-name">Urgent execution</h3>
          <p class="benefits-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <button class="button-click" type="button" onclick="window.location.href='#workTogether';">
        Order the project
      </button>
    </div>
  </div>
</section>
