<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="ac faq-list-item">
        <p class="ac-header">
          <button type="button" class="ac-trigger faq-desc">
            What programming languages are most often used in your project?
            <span class="faq-ac-icon-wrapper">
              <svg class="faq-ac-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </p>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item">
        <p class="ac-header">
          <button type="button" class="ac-trigger faq-desc">
            What are the deadlines for the project?
            <span class="faq-ac-icon-wrapper">
              <svg class="faq-ac-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </p>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item">
        <p class="ac-header">
          <button type="button" class="ac-trigger faq-desc">
            What payment methods do you accept?
            <span class="faq-ac-icon-wrapper">
              <svg class="faq-ac-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </p>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item">
        <p class="ac-header">
          <button type="button" class="ac-trigger faq-desc">
            How can I contact you?
            <span class="faq-ac-icon-wrapper">
              <svg class="faq-ac-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </p>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item">
        <p class="ac-header">
          <button type="button" class="ac-trigger faq-desc">
            Do you provide advice or support?
            <span class="faq-ac-icon-wrapper">
              <svg class="faq-ac-icon" width="18" height="18">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </p>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item">
        <p class="ac-header">
          <button type="button" class="ac-trigger faq-desc">
            <span class="faq-last-desc">
              What does the process of developing a software product look like
              from idea to implementation?
            </span>
            <span class="faq-ac-icon-wrapper">
              <svg class="faq-ac-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </p>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
