<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title" id="hero-heading">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-social-links-list" aria-labelledby="hero-heading" role="list">
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://www.instagram.com/goitclub/ "
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
          >IG</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href=" https://www.facebook.com/goITclub/ "
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
          >FB</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://www.youtube.com/c/GoIT "
          rel="noopener noreferrer"
          target="_blank"
          aria-label="YouTube"
          >YT</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://github.com/mykhaito/stackers-js-project"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
          >GH</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links hero-social-email"
          href="mailto:lloydjefferson@gmail.com"
          aria-label="Email Lloyd Jefferson"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
