<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-social-links-list">
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://www.instagram.com/goitclub/ "
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href=" https://www.facebook.com/goITclub/ "
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://www.youtube.com/c/GoIT "
          rel="noopener noreferrer"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://github.com/mykhaito/stackers-js-project"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links hero-social-email"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
