<section class="hero">
<div class="container hero-container">
       
          <div class="h1-hero">
              <h1 >
                Hello. <br> I’m Fullstack developer Lloyd Jefferson.
              </h1>
          </div>

    <div class="container-social-links">
        <ul class="hero-social-links-list">
          <li class="hero-link">
            <a
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              rel="noopener noreferrer"
              >IG</a
            >
          </li>
          <li class="hero-link">
            <a
              href=" https://www.facebook.com/goITclub/ "
              target="_blank"
              rel="noopener noreferrer"
              >FB</a
            >
          </li>
          <li class="hero-link">
            <a
              href="https://www.youtube.com/c/GoIT "
              rel="noopener noreferrer"
              target="_blank"
              >YT</a
            >
          </li>
          <li class="hero-link">
            <a
              href="https://github.com/mykhaito/stackers-js-project"
              target="_blank"
              rel="noopener noreferrer"
              >GH</a
            >
          </li>
          <li class="hero-email">
            <a
              href="https://github.com/mykhaito/stackers-js-project"
              target="_blank"
              rel="noopener noreferrer"
              >lloydjefferson@gmail.com</a
            >
          </li>
        </ul>
      </div>
</div>
</section>