<section class="projects">
  <div class="container projects-container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper swiper-projects-js">
      <ul class="swiper-wrapper projects-swiper-wrapper">
        <li class="projects-card swiper-slide">
          <div class="projects-box">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-box-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-box-link"
              href="https://mykhaito.github.io/stackers-js-project/"
              target="_blank"
              >See project</a
            >
          </div>
          <picture class="projects-photo">
            <source
              srcset="
                ./img/section_projects/image_1.tab.webp    1x,
                ./img/section_projects/image_1.tab@2x.webp 2x
              "
              width="614"
              height="385"
              media="(min-width: 768px)"
            />
            <img
              srcset="./img/section_projects/image_1@2x.webp 2x"
              src="./img/section_projects/image_1.webp"
              alt="Expand your mind, reading a book"
              width="311"
              height="195"
            />
          </picture>
        </li>
        <li class="projects-card swiper-slide">
          <div class="projects-box">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-box-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-box-link"
              href="https://mykhaito.github.io/stackers-js-project/"
              target="_blank"
              >See project</a
            >
          </div>
          <picture class="projects-photo">
            <source
              srcset="
                ./img/section_projects/image_2.tab.webp    1x,
                ./img/section_projects/image_2.tab@2x.webp 2x
              "
              width="614"
              height="385"
              media="(min-width: 768px)"
            />
            <img
              srcset="./img/section_projects/image_2@2x.webp 2x"
              src="./img/section_projects/image_2.webp"
              alt="petlove"
              width="311"
              height="195"
            />
          </picture>
        </li>
        <li class="projects-card swiper-slide">
          <div class="projects-box">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-box-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-box-link"
              href="https://mykhaito.github.io/stackers-js-project/"
              target="_blank"
              >See project</a
            >
          </div>
          <picture class="projects-photo">
            <source
              srcset="
                ./img/section_projects/image_3.tab.webp    1x,
                ./img/section_projects/image_3.tab@2x.webp 2x
              "
              width="614"
              height="385"
              media="(min-width: 768px)"
            />
            <img
              srcset="./img/section_projects/image_3@2x.webp 2x"
              src="./img/section_projects/image_3.webp"
              alt="Turn your business into an online leader"
              width="311"
              height="195"
            />
          </picture>
        </li>
      </ul>
      <div class="projects-buttons">
        <button
          class="projects-btn-prev"
          type="button"
          aria-label="Previous project"
        >
          <svg class="projects-btn-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="projects-btn-next"
          type="button"
          aria-label="Next project"
        >
          <svg class="projects-btn-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
