<div class="modal-for-theme-color">
  <div class="container theme-color-container">
    <div class="theme-color-box">
      <button class="theme-color-close-btn">
        <svg class="theme-color-close-btn-icon">
          <use href="./img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>

      <h2 class="theme-color-title">
        Settings for <span class="title-accent-color">theme</span> color
      </h2>

      <form class="choosing-theme-form" name="choosing-theme-form">
        <fieldset class="main-color-theme-selector">
          <legend class="theme-checkbox-title">Dark or Light Mode</legend>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden theme-color-js"
              type="radio"
              name="theme-color"
              id="theme-color-dark"
              value="dark"
            />
            <label class="theme-checkbox-label" for="theme-color-dark">
              Dark
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden theme-color-js"
              type="radio"
              name="theme-color"
              id="theme-color-light"
              value="light"
            />
            <label class="theme-checkbox-label" for="theme-color-light">
              Light
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>
        </fieldset>

        <fieldset class="accent-color-theme-selector">
          <legend class="theme-checkbox-title">Color theme</legend>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden accent-color-js"
              type="radio"
              name="accent-color"
              id="theme-color-red"
              value="red"
            />
            <label class="theme-checkbox-label red" for="theme-color-red">
              Red
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden accent-color-js"
              type="radio"
              name="accent-color"
              id="theme-color-lime"
              value="lime"
            />
            <label class="theme-checkbox-label lime" for="theme-color-lime">
              Lime
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden accent-color-js"
              type="radio"
              name="accent-color"
              id="theme-color-royal-blue"
              value="royalBlue"
            />
            <label
              class="theme-checkbox-label royal-blue"
              for="theme-color-royal-blue"
            >
              Royal Blue
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden accent-color-js"
              type="radio"
              name="accent-color"
              id="theme-color-crimson-orange"
              value="crimsonOrange"
            />
            <label
              class="theme-checkbox-label crimson-orange"
              for="theme-color-crimson-orange"
            >
              Crimson Orange
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden accent-color-js"
              type="radio"
              name="accent-color"
              id="theme-color-deep-teal"
              value="deepTeal"
            />
            <label
              class="theme-checkbox-label deep-teal"
              for="theme-color-deep-teal"
            >
              Deep Teal
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>

          <div class="theme-checkbox-wrapper">
            <input
              class="theme-checkbox visually-hidden accent-color-js"
              type="radio"
              name="accent-color"
              id="theme-color-bright-orange"
              value="brightOrange"
            />
            <label
              class="theme-checkbox-label bright-orange"
              for="theme-color-bright-orange"
            >
              Bright Orange
              <span class="theme-custom-checkbox"></span>
            </label>
          </div>
        </fieldset>

        <button class="theme-color-set-btn" type="submit">Set theme</button>
      </form>
    </div>
  </div>
</div>
