<footer class="page-footer section">
  <div class="container">
    <div class="footer-section">
      <div class="footer-section-one">
        <img
          class="footer-img"
          src="./img/logo/footer-logo-min.png"
          alt="logo image"
        />
        <h2 class="footer-head">Let’s <span class="red-text">work</span></h2>
      </div>
      <h2 class="footer-head">together</h2>

      <form class="footer-form">
        <input
          class="footer-input"
          type="email"
          id="email"
          name="email"
          placeholder="clients@gmail.com"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <input
          class="footer-input"
          type="text"
          id="comment"
          name="comment"
          placeholder="comments"
          required
        />
        <button class="footer-btn" type="submit">Send</button>
      </form>
      <address class="footer-contacts">
        <a href="email:lloydjefferson@gmail.com" class="footer-contacts-address"
          >lloydjefferson@gmail.com</a
        >
        <a href="tel:+3801111111111" class="footer-contacts-address"
          >+380 11 1111 11 11</a
        >
      </address>
    </div>
    <div class="modal-window-backdrop">
      <div class="footer-modal-window">
        <button class="footer-modal-close-btn" type="button">
          <svg class="footer-modal-close" width="22" height="22">
            <use href="./img/sprite.svg#icon-close-btn"></use>
          </svg>
        </button>
        <h2 class="modal-header">
          Thank you for your interest in cooperation!
        </h2>
        <p class="modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</footer>
