.about-me-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media only screen and (min-width: 768px) {
  .about-me-container {
    row-gap: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-container {
    row-gap: 96px;
  }
}

/* ======== first-encounter-subsection ======== */
.first-encounter-subsection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 1016px;
}

.first-encounter-subsection-text {
  flex-grow: 1;
  overflow-y: auto;
  padding: 32px;
  border-radius: 24px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  background-color: var(--cards-color);
}

.first-encounter-subsection-text > .accent-color {
  color: var(--accent-color);
}
.first-encounter-subsection-text > .shaded-color {
  color: var(--color-transpent-04);
}

.first-encounter-subsection-portrait {
  border-radius: 24px;
}

@media only screen and (min-width: 768px) {
  .first-encounter-subsection {
    height: 1416px;
  }

  .first-encounter-subsection-text {
    padding: 64px;

    font-size: 38px;
    line-height: 1.05;
  }

  .break-the-next-line {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .first-encounter-subsection {
    flex-direction: row;
    height: unset;
  }

  .first-encounter-subsection-portrait {
    min-width: 680px;
  }
}
/* ======== /first-encounter-subsection ======== */

/* ======== description-of-me-subsection ======== */
/* ======== my-styles-accordion ======== */
/* ======== reset ======== */
.my-styles-accordion-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.my-styles-ac {
  margin: 0;
  background-color: transparent;
  border: none;
}

.my-styles-ac .my-styles-ac-trigger {
  display: flex;
  padding: 0;

  font: unset;
  font-family: 'Inter Tight', sans-serif;

  color: unset;
}

.my-styles-ac .my-styles-ac-trigger::after {
  display: none;
}
/* ======== /reset ======== */

.my-styles-accordion-container {
  flex-direction: column;
}

.my-styles-ac {
  flex-grow: 1;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-transpent-02);
}

.my-styles-ac .my-styles-ac-trigger {
  margin-bottom: 12px;
}
.my-styles-ac-trigger {
  outline: none;
}

.my-styles-accordion-title {
  margin-right: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-transpent-04);

  position: relative;

  overflow: hidden;
}
.my-styles-accordion-title::after {
  position: absolute;
  bottom: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;

  background-color: var(--color-transpent-04);

  transform: translateX(-100%);
  transition: transform 500ms ease-out;
}
.my-styles-ac-trigger:hover .my-styles-accordion-title::after,
.my-styles-ac-trigger:focus .my-styles-accordion-title::after {
  transform: translateX(0);
}

.about-me-ac-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  border: 1px solid var(--color-transpent-02);
  border-radius: 50%;
  fill: transparent;
  background-color: var(--black-color);
  transition: background-color 300ms ease, fill 300ms ease;
}
.about-me-ac-icon {
  width: 18px;
  height: 18px;

  transition: transform 500ms ease-in-out;
}

/* *Іконка коли акоорденон відкритий 
  is-active - клас який додається на акоорденон */
.ac.is-active .about-me-ac-icon {
  transform: rotateX(180deg);
  /* transform: rotate(-180deg); */
}

.about-me-ac-icon-wrapper:hover {
  background-color: var(--accent-color);
}
.ac-trigger:focus .about-me-ac-icon-wrapper {
  background-color: var(--accent-color);
}

.ac-trigger:focus .about-me-ac-icon-wrapper {
  fill: var(--accent-color);
}

.ac.is-active .ac-trigger:focus .about-me-ac-icon-wrapper {
  background-color: var(--accent-color);
}

.ac.is-active .ac-trigger:focus .about-me-ac-icon-wrapper {
  fill: var(--accent-color);
}

.my-styles-ac-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.my-styles-ac-text.for-margin-bottom {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .my-styles-ac {
    padding-bottom: 32px;
  }

  .my-styles-ac .my-styles-ac-trigger {
    margin-bottom: 8px;
  }

  .about-me-ac-icon-wrapper {
    width: 40px;
    height: 40px;
  }
  .about-me-ac-icon {
    width: 20px;
    height: 20px;
  }

  .my-styles-ac-text.for-margin-bottom {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .my-styles-ac-text.for-margin-bottom {
    margin-bottom: 32px;
  }

  .my-styles-ac-panel {
    width: 612px;
    margin-left: auto;
    margin-right: 68px;
  }

  .about-me-role-list,
  .about-me-education-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .about-me-education-list {
    padding-right: 147px;
  }

  .about-me-education-list > .my-styles-ac-text:first-child {
    padding-right: 96px;
  }
}
/* ======== /my-styles-accordion ======== */
/* ======== /description-of-me-subsection ======== */

/* ======== skills-scrollbar-subsection ======== */
/* ======== swiper ======== */

/* ======== autoplay-progress (don't touch) ======== */
/* .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
} */
/* ======== /autoplay-progress (don't touch) ======== */

/* ======== swiper-css-styles-form-librery-illustration(don't touch) ======== */
/* .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
} */
/* .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
} */
/* .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
} */
/* ======== swiper-css-styles-form-librery-illustration(don't touch) ======== */

.my-skills-swiper-subsection {
  display: flex;
  align-items: center;
}

.about-me-swiper {
  margin-left: 0;
  margin-right: 0;
}

.about-me-swiper-wrapper {
  width: 260px;
}
.about-me-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 130px;
  /* width: Ширину вираховує (через js так як ми задали в налаштуваннях свайперу)
  і проставляє бібліотека через вбудовані стилі в (px); */

  border: 1px solid var(--color-transpent-02);
  border-radius: 50%;

  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: unset;

  transition: background-color 500ms ease-in-out, border-color 500ms ease-in-out;
}
.about-me-swiper-slide.swiper-slide-active {
  /* .swiper-slide-active клас який додається на перший слайд в зоні видимості */
  background-color: var(--accent-color);
  border-color: transparent;
}

.about-me-swiper-btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--black-color);
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  outline: 1px solid transparent;
  border: none;
  border-radius: 50%;
  transition: fill 0.3s ease-in-out, outline-color 250ms ease-in-out;
}
.about-me-swiper-btn-next:hover,
.about-me-swiper-btn-next:focus {
  fill: var(--accent-color);
  outline-color: var(--color-transpent-02);
}

@media only screen and (min-width: 768px) {
  .about-me-swiper-wrapper {
    width: 600px;
  }
  .about-me-swiper-slide {
    height: 200px;

    font-size: 20px;
  }
  .about-me-swiper-btn-next-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-swiper-wrapper {
    width: 1200px;
  }
  .my-skills-swiper-subsection {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* ======== /swiper ======== */
/* ======== /skills-scrollbar-subsection ======== */
