html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;

  color: #141414;
  background-color: #fbfbfb;

  min-width: 100vw;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.second-main-color {
  color: #fbfbfb;
}

.accent-color {
  color: #576f35;
}

.second-accent-color {
  color: #7a3145;
}

.accent-bg-color {
  background-color: #576f35;
}

.second-accent-bg-color {
  background-color: #7a3145;
}

.icon-burger-btn,
.icon-close {
  stroke: #fbfbfb;
}

.icon-desktop-tablet-logo,
.icon-mobile-logo {
  fill: #fbfbfb;
}
