:root {
  /* Colors to use */

  --background-color: var(--black-color);
  --main-text-color: var(--white-color);
  --cards-color: var(--grey-color);
  --accent-color: var(--red-theme-color);
  /* --button-text-color: var(--red-theme-color); */

  /* Замінити всюди де є на --color-transpent-04 */
  --arrow-color: var(--white-color-transpent-04);
  /*  */

  --color-transpent-02: var(--white-color-transpent-02);
  --color-transpent-04: var(--white-color-transpent-04);
  --color-transpent-06: var(--white-color-transpent-06);

  --inverted-color-transpent-02: var(--black-color-transpent-02);
  --inverted-color-transpent-04: var(--black-color-transpent-04);
  --inverted-color-transpent-06: var(--black-color-transpent-06);

  --modal-back-drop-color: rgba(15, 15, 16, 0.6);
  /* /Colors to use */

  /* For settings-theme-color */
  --black-color: #1c1d20;
  --white-color: #fafafa;

  --grey-color: #242527;
  --grey-non-parallel-color: #dbdad8;

  --white-color-transpent-02: rgba(250, 250, 250, 0.2);
  --black-color-transpent-02: rgba(15, 15, 16, 0.2);

  --white-color-transpent-04: rgba(250, 250, 250, 0.4);
  --black-color-transpent-04: rgba(15, 15, 16, 0.4);

  --white-color-transpent-06: rgba(250, 250, 250, 0.6);
  --black-color-transpent-06: rgba(15, 15, 16, 0.6);

  --red-theme-color: #ed3b44;
  --lime-theme-color: #c6e327;
  --royal-blue-theme-color: #0041e8;
  --crimson-orange-theme-color: #e6533c;
  --deep-teal-theme-color: #2b4441;
  --bright-orange-theme-color: #ff7f08;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Inter Tight', sans-serif;

  color: var(--main-text-color);
  background-color: var(--background-color);

  width: 100%;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .section:first-child {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .section:not(:first-child) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .section:first-child {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .section:not(:first-child) {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}
