.section-benefits {
    background-color: #1c1d20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


.section-name {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 284px;
height: 24px;

}
.benefits-catds {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;

}
.benefits-list {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;


}
.benefits-item {


    border-radius: 20px;
    padding: 24px;
    width: 344px;
    height: 270px;

background: #242527;

}
.benefits-img {
    background: #ed3b44;
    border-radius: 10px;
width: 48px;
height: 48px;
}
.benefits-name {
    font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;

}
.benefits-text{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);

}
.button-click{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;


    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 18px 36px;
width: 187px;
height: 55px;

}

svg circle {
    fill: red;
    stroke: green;
}