.hero {
  background-image: image-set(
    url('/img/hero_webp/hero_colors_1_1x.webp') 1x,
    url('/img/hero_webp/hero_colors_1_2x.webp') 2x
  );
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-title {
  margin-right: auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
  max-width: 343px;
  min-width: 327px;
}

.hero-social-links-list {
  position: absolute;
  right: 17px;
  bottom: 32px;
  display: flex;
  gap: 4px;
}

.hero-social-links-list li {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.hero-social-links-list li:last-child {
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
}

.hero-social-links-list li:hover,
.hero-social-links-list li:focus,
.hero-social-links-list li:focus-visible,
.hero-social-links-list li:active {
  background-color: var(--button-text-color);
}

@media only screen and (min-width: 768px) {
  .hero-title {
  font-size: 90px;
  max-width: 632px;
  min-width: 600px;
  }

  .hero-social-links-list {
    right: 32px;
    gap: 8px;
  }
  .hero-social-links-list li {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }
  .hero-social-links-list li:last-child {
    border-radius: 60px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 1084px;
    min-width: 1000px;
    }
}
