.scroll-to-top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transform: rotateZ(-90deg);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--black-color);
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  outline: 1px solid transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  opacity: 0; /* Початково невидима */
  pointer-events: none; /* Щоб не можна було клікнути, коли невидима */
  transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out,
    outline-color 250ms ease-in-out;
}
.scroll-to-top-btn:hover,
.scroll-to-top-btn:focus {
  fill: var(--button-text-color);
  outline-color: var(--white-color-transpent-02);
}

@media only screen and (min-width: 768px) {
  .scroll-to-top-btn-icon {
    width: 40px;
    height: 40px;
  }
}
